<div class="hero">
  <br/>
  <div class="frosty col-10 offset-1 text-center">
    <br/>
    <h1>Learn Financial Forecasting for Yourself</h1>
    <br/>
    <h2>Simple and Visual approaches to Learning</h2>
    <br/>
    <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
    <br/><br/>
  </div>
</div>

<br/>
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Real Estate Investing</h3>
    <br />
    <p>Learn investing basics and financial forecasting models</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Personal Finance & Forecasting</h3>
    <br />
    <p>Discover how to demystify your future and generate cash flow</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Stock Market Investing</h3>
    <br />
    <p>Learn how to read stock financials and how to pick</p>
  </div>
</div>